.header-nav{
    /* background-color: navy; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    position: sticky;
}

.name{
    /* background-color: pink; */
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: #fca311;
    margin-left: 20px;
}
.fname{
    letter-spacing: 0.15em;
    font-weight: 800;
}
.last-name{
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.5em;
}

.pages{
    /* background-color: purple; */
    display:flex ;
    align-items: center;
    justify-content: space-between;
    width: 52%;
    margin-right: 65px;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    
}
.pages a:hover{
    color: #fca311;
}

.pages a:active{
    text-decoration: overline;
}

.dropdown {
    /* border:1px solid blue; */
    float: left;
    overflow: hidden;
  }

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: #e5e5e5;
    background-color: transparent;
    padding: 14px 16px;
    font-size: 22px;
  }
.dropdown .dropbtn:hover{
    color: #fca311;
}

.dropdown-pages{
    display: none;
    position: absolute;
    background-color: #e5e5e5;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-pages a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    float: none;
    color: #14213d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-pages a:hover {
    background-color: #111b33;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-pages {
    display: block;
  }
@media(max-width: 900px){
    .pages{
        display: flex;
        flex-direction: column;
    }
}