.pic-about{
    /* border: 2px solid purple; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    /* border: 3px solid palegoldenrod; */
    padding: 60px;
    padding-top: 0;
    display: flex;
}
.picture-div{
    width: 500px;
    height: 500px;
    /* border: 2px solid lightblue; */
    /* margin-top: 60px; */
}
#main-pic{
    margin-top: 80px;
    margin-left: 30px;
    width: 300px;
    height: 460px;
    border-radius: 20px;
}

.info-div{
    /* width: 550px; */
    width: 60%;
    color: #e5e5e5;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-top: 60px;
}
/* #mee{
    position: relative;
} */

.pic-circle{
    position: absolute;
    border: 2px solid #000000;
    background-color: #d8890b;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 60px;
    z-index: -1;
    transition: transform 1s;
}


.socials{
    display:flex ;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    justify-content: space-evenly;
}

.socials img{
    width: 70px;
    margin: 0;
    transition: opacity 0.4s;
}
.socials img:hover{
    opacity:0.6;
}

.picture-div:hover .pic-circle{
    transform: scale(1.04) rotate(-1deg);
}

@media(max-width:800px){
    .pic-about{
        flex-direction: column;
    }
    .picture-div{
        width: 350px;
    }
}